.c-carrousel{
    margin-left: 25px;
  
  &__overflow{
    height: 200px;
    width: 100%;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
    &__item{
      min-width: 350px;
      height: 180px;
      margin-right: 24px;   
      overflow: hidden;
      border-top: 5px solid lightblue;
      box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
    }
  
    &__text{
      margin-top: -50%;
      color: white;
      width: 150px;
    }
  
    &__img{
      height: 180px;
      width: 50%;
      position: relative;
    }
  
  }
  
  .final{
    width: 30px;
    height: 180px;
    border-left: solid 25px rgba(0 , 0,0,0.0);
  }