.home{
  &__button{
    font-weight: bold;
    padding: 0pt 53pt;
    text-decoration: none;
    font-size: 12pt;
    margin: 0pt 60pt 40pt;
    cursor: pointer;
    border: 1px solid #F78712;
    background-color: white;
    color: #F78712;
  }
}
.b-title{
  margin-left: 25pt;
}